In [137]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()

In [138]:
corona_csv = pd.read_csv('covid_19_data.csv')
len(corona_csv)

5632

### Corona Data :Filtering only china

In [139]:
t1 = corona_csv[corona_csv['Country/Region'] == 'Mainland China']
t1_needed_columns = ['Province/State' , 'Confirmed']
t1 = t1[t1_needed_columns]
t1 = t1.groupby('Province/State').agg({'Confirmed' : 'sum'}).reset_index()
t1['Province/State'] = t1['Province/State'].str.replace(" ","")
t1.drop(15,inplace=True)
t1

   Province/State  Confirmed
0           Anhui    38737.0
1         Beijing    16637.0
2       Chongqing    23473.0
3          Fujian    12214.0
4           Gansu     4070.0
5       Guangdong    54567.0
6         Guangxi    10073.0
7         Guizhou     5530.0
8          Hainan     6732.0
9           Hebei    11909.0
10   Heilongjiang    17644.0
11          Henan    50353.0
12       HongKong      529.0
13          Hubei  2284694.0
14          Hunan    41094.0
16        Jiangsu    24589.0
17        Jiangxi    36764.0
18          Jilin     3584.0
19       Liaoning     5147.0
20          Macau       40.0
21        Ningxia     2807.0
22        Qinghai      785.0
23        Shaanxi     9930.0
24       Shandong    26741.0
25       Shanghai    14053.0
26         Shanxi     5401.0
27        Sichuan    20852.0
28        Tianjin     5232.0
29          Tibet       45.0
30       Xinjiang     2839.0
31         Yunnan     7232.0
32       Zhejiang    50103.0

### Getting Weather Data

from wwo_hist import retrieve_hist_data

frequency=24
start_date = '22-JAN-2020'
end_date = '16-MAR-2020'
api_key = 'fdd9c64dd9a8492593d20916201603'
location_list = list(t1['Province/State'])

hist_weather_data = retrieve_hist_data(api_key,
                                location_list,
                                start_date,
                                end_date,
                                frequency,
                                location_label = False,
                                export_csv = True)

### T2

In [140]:
import os
cities = list(t1['Province/State'])
file_names = []
columns_needed = ['maxtempC', 'mintempC' ,'HeatIndexC', 'humidity','pressure' ]
for a,c,f in os.walk('Weather Dataset'):
    file_names= f

df_list = []
for file in file_names :
    df = pd.read_csv('Weather Dataset/'+file)
    df = df[columns_needed].mean().to_frame().T
    df_list.append(df)
    
t2 = pd.concat(df_list).reset_index().drop('index',axis=1)
t2.shape

(47, 5)

In [141]:
t1.shape

(32, 2)

In [142]:
data= pd.merge(t1,t2,left_index=True, right_index=True)
data.head()

,Province/State,Confirmed,maxtempC,mintempC,HeatIndexC,humidity,pressure
0,Anhui,38737.0,17.654545,11.709091,14.927273,77.800000,1020.181818
1,Beijing,16637.0,23.763636,18.745455,22.454545,85.236364,1015.236364
2,Chongqing,23473.0,30.309091,19.945455,26.272727,62.818182,1014.236364
3,Fujian,12214.0,30.836364,24.000000,29.272727,66.781818,1013.836364
4,Gansu,4070.0,12.945455,5.818182,9.400000,69.618182,1023.854545

In [146]:
%matplotlib qt
from mpl_toolkits.mplot3d import Axes3D

fig = plt.figure()
ax = Axes3D(fig)

ax.scatter(np.log10(data['Confirmed']), data['pressure'], data['HeatIndexC'])
plt.show()

In [150]:
plt.scatter( data['maxtempC'],np.log10(data['Confirmed']),)

In [ ]:
from sklearn.cluster import KMeans